grassroot-integration/src/main/resources/xsd/lbs/addallowedresult.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="addAllowedMsisdn">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:int" name="code"/>
                                <xs:attribute type="xs:string" name="message"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>