grassroot-integration/src/main/resources/xsd/lbs/getlocationresult.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="getLocation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:float" name="x"/>
                            <xs:element type="xs:float" name="y"/>
                            <xs:element type="xs:string" name="accuracy"/>
                            <xs:element type="xs:int" name="coordDate"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="code"/>
                        <xs:attribute type="xs:string" name="message"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>